.new {
    width: 100%;
    display: flex;
    .mobside{
      display: none;
      @media only screen  
      and (max-width: 562px){
        display: block;
      }
      .mobsideicon{
        color: var(--first-color-s);
        position: fixed;
        font-size: 18px;
        z-index: 400;
        cursor: pointer;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
      }
      .mobsideicon:hover{
        scale:1.5;
      }
      .mobsideicon:active{
        scale:0.7;
      }
    }
    @media only screen  
    and (max-width: 562px){
      flex-direction: column;
    }
    .side2{
      @media only screen  
      and (max-width: 562px){
        position: fixed;
        z-index: 300;
        left: 0;
      }
    }
    .side{
      @media only screen  
      and (max-width: 562px){
        display: none;
      }
    }
    .newContainer {
      flex: 6;
      position: relative;
      .mapBox{
        display: flex;
        position:fixed;
        flex-direction: column;
        top:0;
        right:0;
        left:0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: transparent;
        z-index: 9999;
        align-items: center;
        justify-content: center;
        .mapPop{
          scale:0.7;
          width: 500px;
          background-color: var(--second-color);
          border-radius: 20px;
          border: 5px solid var(--second-color) ;
          box-shadow: 0px 0px 9px 11px rgba(201,193,193,0.5);
          padding: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap:20px;
          .setButton {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: var(--first-color);
            color: var(--second-color);
            font-weight: bold;
            border-radius:8px;
            cursor: pointer;
            margin-top: 10px;
            text-align: center;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1)0.7s;
          }
          .setButton:hover{
            scale: 1.1;
          }
          .setButton:active{
            scale: 0.9;
          }
        }
      }
      @media only screen  
        and (max-width: 562px){
        scale: 0.9;
    }
      .top,
      .bottom {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 10px;
        margin: 20px;
        display: flex;
        flex-direction: column;
  
        h1 {
          color: lightgray;
          font-size: 20px;
        }
  
        .up {
          flex: 1;
        //   text-align: center;
        display: flex;
        flex-direction: column;
          margin-top: 5%;
          .slider{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
            .text{
                flex:1;
                .icon{
                  cursor: pointer;
                }
            }
            .images{
                flex:9;
                text-align: center;
                justify-content: center;
                gap: 20px;
                img {
                  width: 200px;
                  height: 200px;
                  border-radius: 10px;
                  object-fit: cover;
                  margin:15px 15px 15px 15px;
                }
            }
            .x{
              margin-right: 15px;
              cursor: pointer;
              .xIcon{
                color: var(--first-color-s);
              }
            }
          }
          
        }
  
        .down {
          flex: 3;
          .alert{
            margin-top:30px;
          }
  
          .form {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-around;
            .sFormInput{
              width: 40%;
              display: flex;
              gap:8%;
              flex-direction: column;
              .priceInput {
                width: 100%;
                display: flex;
                flex-direction: row !important;
                gap:10%;
                .smallFormInput {
                  width: 30%;
                }
              }
            }

            .formInput {
              width: 40%;
              display: flex;
              justify-content: center;
              gap:2%;
              .ll {
                max-width: 223px;
                display: flex;
                background-color: white;
              }
              .locationBtn {
                width: 150px;
                padding: 10px;
                text-align: center;
                border: none;
                background-color: var(--first-color);
                color: var(--second-color);
                font-weight: bold;
                border-radius:8px;
                cursor: pointer;
                margin-top: 10px;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1)0.7s;
              }
              .locationBtn:hover{
                scale: 1.1;
              }
              .locationBtn:active{
                scale: 0.9;
              }
              .extraItems {
                margin: 10px 0px;
                display: flex;
                flex-wrap: wrap;
                .extraItem {
                  padding: 5px;
                  font-size: 14px;
                  border: 1px solid tomato;
                  background-color: var(--second-color);
                  color: tomato;
                  margin-right: 10px;
                  border-radius: 10px;
                  cursor: pointer;
                }
              }
              .smallFormInput {
                width: 100%;
            
                .extraBtn{
                  width: 60%;
                  border-radius: 50%;
                }
              }
              
              label {
                display: flex;
                align-items: center;
                gap: 10px;
                .icon {
                  cursor: pointer;
                }
              }
            }
            button {
              width: 150px;
              padding: 10px;
              border: none;
              background-color: var(--first-color-s);
              color: var(--second-color);
              font-weight: bold;
              border-radius:8px;
              cursor: pointer;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
  @media only screen  
    and (max-width: 1112px){
      .new {
        width: 100%;
        display: flex;
      
        .newContainer {
          flex: 6;
          flex-wrap: wrap;
      
          .top,
          .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            margin: 20px;
            flex-wrap: wrap;
            flex-direction: column;
      
            h1 {
              color: lightgray;
              font-size: 20px;
            }
      
            .left {
              text-align: center;
              margin-top: 5%;
      
              img {
                width: 200px;
                height: 200px;
                padding-bottom: 10px;
                border-radius: 10px;
                object-fit: cover;
              }
            }
      
            .right {
              flex: 2;
      
              .form {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                justify-content: space-around;
                align-items: center;
                .sFormInput{
                  width: 60%;
                  display: flex;
                  gap:30px;
                  flex-direction: column;
                  .priceInput {
                    width: 100%;
                    display: flex;
                    flex-direction: column !important;
                    gap:8px;
                    .smallFormInput {
                      width: 100%;
                    }
                  }
                }
                .formInput {
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  gap:2%;
                  .extraItems {
                    margin: 10px 0px;
                    display: flex;
                    flex-wrap: wrap;
                    .extraItem {
                      padding: 5px;
                      font-size: 14px;
                      border: 1px solid tomato;
                      background-color: var(--second-color);
                      color: tomato;
                      margin-right: 10px;
                      border-radius: 10px;
                      cursor: pointer;
                    }
                  }
                  .smallFormInput {
                    width: 100%;
                    .extraBtn{
                      width: 60%;
                      border-radius: 50%;
                    }
                  }
                  
                  label {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .icon {
                      cursor: pointer;
                    }
                  }
                }
                button {
                  width: 150px;
                  padding: 10px;
                  border: none;
                  background-color: var(--first-color-s);;
                  color: var(--second-color);
                  font-weight: bold;
                  border-radius:8px;
                  cursor: pointer;
                  margin-top: 10px;
                  transition: cubic-bezier(0.075, 0.82, 0.165, 1)0.7s;
                }
                button:hover{
                  scale: 1.1;
                }
                button:active{
                  scale: 0.9;
                }
              }
            }
          }
        }
      }
    }